body
	font-size: 1.2em
	color: #333
ul
	list-style: none
	padding-left: 0

section, footer
	overflow: auto

.btn
	border-radius: 0
	border: 2px solid transparent
	font-weight: 600
	transition: all 0.1s
	&-default
		background: transparent
		color: #000
		border-color: #000
		&:hover
			border-color: #ccc
			color: #ccc
	&-white
		border-color: #fff
		color: #fff
		&:hover
			border-color: $light-orange
			color: $light-orange
	&-opaque
		background: $light-orange
		color: #fff
		&:hover
			background: darken($light-orange, 10%)
			color: #fff

.cards
	margin-top: 35px

.card
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)
	margin-top: 20px
	color: #000
	border: none
	border-radius: 0
	.card-header
		border-radius: 0
		background: $blue-gray
		color: #fff
		padding: 0.9rem 1.25rem
		h3
			margin: 0
	li
		padding-left: 1.5em

	li:before
		content: "\f055"
		font-family: FontAwesome
		display: inline-block
		margin-left: -1.5em
		width: 1.5em
		color: #666

.modal-header
	h3
		margin: 0
.modal-content
	margin-top: 100px

.page-title
	margin-top: 60px
	margin-bottom: 30px
	font-weight: 700
	color: $blue-gray

section
	position: relative
	padding: $vertical-space
	h2
		font-size: 2.2em
		font-weight: 700
		margin-bottom: 0.7em
		color: #444
		text-align: center
	h3
		font-weight: 700
	.container
		position: relative
		z-index: 1
	.btn
		margin: 10px 0
	&.image-section
		color: #fff
		background: #444
		h2
			color: #fff
			text-shadow: 0 0 12px rgba(0, 0, 0, 0.3)
	&.black
		background: #000
		color: #aaa

header
	border-top: 5px solid #f2f2f2
	width: 100%
	padding: 0
	margin-bottom: 30px
	border-bottom: 1px solid #ddd
	

header.page-home
	border-top-color: rgba(255,255,255, 0.2)
	z-index: 12
	box-shadow: inset 0px 80px 120px -80px #000
	padding: 0 0 20px 0
	position: absolute
	border-bottom: 0
	@media (max-width: $screen-sm)
		background: rgba(0,0,0,0.3)
		padding: 0

.hero
	height: 95vh
	position: relative
	background: #000
	padding: 0

	&-content
		position: absolute
		left: 0
		right: 0
		z-index: 1
		color: #fff
		text-align: center
		font-size: 3em
		font-weight: 700
		margin-top: 35vh
		.hero-subheading
			font-size: 0.75em
			color: #e5e5e5
			font-weight: 700
			display: block
			margin-top: -10px
		.btn
			margin-top: 70px
		@media (max-width: $screen-sm)
			font-size: 2.5em
		@media (max-width: $screen-xs)
			line-height: 1.1em
			font-size: 2em
			.hero-subheading
				margin-top: 15px
				display: block


	.backdrop
		filter: grayscale(60%)
		opacity: 0.8

.backdrop
	z-index: 0
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	opacity: 0.6

footer
	background: #000
	color: #aaa
	text-align: center
	padding: 30px 0 20px 0
	border-top: 1px solid #111
	h3
		font-size: 0.8em
	&.sticky-footer
		width: 100%
		position: fixed
		bottom: 0