@function tint($color, $percentage)
	@return mix(white, $color, $percentage)


$yellow: #EC6
$bluegreen-dark: #034
$orange: #b30
$bluegreen: #089
$blue: #069
$blue-gray: mix($blue, #999, 60%) // #3D7A99
$vertical-space: 70px 0
$light-orange: tint($orange, 14%)

body
	font-size: 1.2em
	color: #333
ul
	list-style: none
	padding-left: 0

section, footer
	overflow: auto

.btn
	border-radius: 0
	border: 2px solid transparent
	font-weight: 600
	transition: all 0.1s
	&-default
		background: transparent
		color: #000
		border-color: #000
		&:hover
			border-color: #ccc
			color: #ccc
	&-white
		border-color: #fff
		color: #fff
		&:hover
			border-color: $light-orange
			color: $light-orange
	&-opaque
		background: $light-orange
		color: #fff
		&:hover
			background: darken($light-orange, 10%)
			color: #fff

.cards
	margin-top: 35px

.card
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)
	margin-top: 20px
	color: #000
	border: none
	border-radius: 0
	.card-header
		border-radius: 0
		background: $blue-gray
		color: #fff
		padding: 0.9rem 1.25rem
		h3
			margin: 0
	li
		padding-left: 1.5em

	li:before
		content: "\f055"
		font-family: FontAwesome
		display: inline-block
		margin-left: -1.5em
		width: 1.5em
		color: #666

.navbar
	margin-top: -5px
	padding: 0
	.nav-link
		color: #fff
		padding: 20px 20px
		background: transparent
		transition: all 0.2s
		

	.nav-item
		margin: 0 20px
		border-top: 5px solid transparent
		&:first-child
			margin-left: 0px
		&.active
			border-color: #fff
		&:hover
			border-color: $light-orange

section
	position: relative
	padding: $vertical-space
	h2
		font-size: 2.2em
		font-weight: 700
		margin-bottom: 0.7em
		color: #444
		text-align: center
	h3
		font-weight: 700
	.container
		position: relative
		z-index: 1
	.btn
		margin: 10px 0
	&.image-section
		color: #fff
		background: #444
		h2
			color: #fff
			text-shadow: 0 0 12px rgba(0, 0, 0, 0.3)
	&.black
		background: #000
		color: #aaa

header
	border-top: 5px solid rgba(255,255,255, 0.2)
	padding: 0 0 20px 0
	position: absolute
	width: 100%
	z-index: 12
	box-shadow: inset 0px 80px 120px -80px #000

.hero
	height: 95vh
	position: relative
	background: #000
	padding: 0

	&-content
		position: absolute
		left: 0
		right: 0
		z-index: 1
		color: #fff
		text-align: center
		font-size: 3em
		font-weight: 700
		margin-top: 35vh
		.btn
			margin-top: 40px


	.backdrop
		filter: grayscale(60%)
		opacity: 0.8

.backdrop
	z-index: 0
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	opacity: 0.6

footer
	background: #000
	color: #aaa
	text-align: center
	padding: 50px 0 20px 0
	border-top: 1px solid #111
	h3
		font-size: 0.8em