@import url("https://fonts.googleapis.com/css?family=Allura|Dancing+Script|Satisfy");

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$screen-xs: 762px;
$screen-sm: 992px;

$yellow: #EC6;
$bluegreen-dark: #034;
$orange: #b30;
$bluegreen: #089;
$blue: #069;
$blue-gray: mix($blue, #999, 60%);
$vertical-space: 70px 0;
$light-orange: tint($orange, 14%);
