<footer>
  <div class="container">
    <h3>&copy; Dr Pepper Life Coach 2016</h2>
  </div>
</footer>

<div class="modal fade contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Contact Me</h3>
      </div>
      <div class="modal-body">
        Please contact Dr. Pepper at <a href="mailto:drpepperlifecoach@gmail.com">drpepperlifecoach@gmail.com</a> with any questions or concerns. She will reply to your email within 24 hours. 
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/helpers.js"></script>