<header class="page-{{ page.layout }}">
	<div class="container">
		<nav class="navbar">
			<a href="/" class="navbar-brand">Home</a>
	        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
				<ul class="nav navbar-nav">
					{% assign pages = site.pages | sort:"weight"  %}
					{% for my_page in pages %}
					  {% if my_page.navigation %}
					    <li class="nav-item {% if my_page.title == page.title %}active{% endif %}"><a class="nav-link" href="{{ my_page.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ my_page.navigation }}">{{ my_page.navigation }}</a></li>
					  {% endif %}
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</header>

