<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <section class="hero">
    <div class="backdrop" style="background: url({{ page.hero.image }}) fixed; background-size: cover; background-position: center bottom;"></div>
    <div class="container">
      <div class="hero-content">
        <h1>Dr. Tamara J. Pepper</h1>
        <h2 class="hero-subheading">{{ page.hero.content }}</h2>
        <p class="hero-quote">Every new day is a chance to change your life.</p>
      </div>

    </div>
  </section>
  {% if page.sections %}
    {% for section in page.sections %}
      <section 
        {% if section.image %}
          class="image-section"
        {% elsif section.type %}
          class="{{ section.type }}" 
        {% endif %}
      >
        {% if section.image %}
          <div
            class="backdrop"
            style="background: url({{ section.image }}); background-size: cover; background-attachment: fixed;"
          ></div>
        {% endif %}
        <div class="container">
          <div class="section-header">
            <h2>{{ section.title }}</h2>
            {% if section.subtitle %}
              <h3>{{ section.subtitle }}</h3>
            {% endif %}
          </div>
        </div>
        {% if section.cards %}
          <div class="container">
            {% if section.button %}
              <div class="text-xs-center">
                <a href="#" class="btn btn-lg btn-opaque">Learn More</a>
              </div>
            {% endif %}
            <div class="row cards">
              {% for card in section.cards %}
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <h3>{{ card.title }}</h3>
                    </div>
                    <div class="card-block">
                      {{ card.body | markdownify }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% elsif section.carousel %}
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for slide in section.carousel %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ slide.slidenumber }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for slide in section.carousel %}
                <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                  <div class="container">
                    {{ slide.content | markdownify }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        {% else %}
          <div class="container">
            {{ section.body | markdownify }}
          </div>
        {% endif %}
        </div>
      </section>
    {% endfor %}
  {% endif %}
    
  {% include footer.html %}
</body>
</html>