<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <section class="hero">
    <div class="backdrop" style="background: url({{ page.hero.image }}) fixed; background-size: cover; background-position: center bottom;"></div>
    <div class="hero-content">
      {{ page.hero.content }}
      <span style="font-size: 0.75em; color: #e5e5e5; font-weight: 700; display: block; margin-top: -10px;">Dr. Tamara Pepper</span>
      <div>
        <a href="{{ page.hero.button-url }}" class="btn btn-lg btn-opaque">{{ page.hero.button-text }}</a>
      </div>
    </div>
  </section>
  {% if page.sections %}
    {% for section in page.sections %}
      <section 
        {% if section.image %}
          class="image-section"
        {% elsif section.type %}
          class="{{ section.type }}" 
        {% endif %}
      >
        {% if section.image %}
          <div
            class="backdrop"
            style="background: url({{ section.image }}); background-size: cover; background-attachment: fixed;"
          ></div>
        {% endif %}
        <div class="container">
          <h2>{{ section.title }}</h2>
          {% if section.cards %}
            <div class="text-xs-center">
              <a href="#" class="btn btn-lg btn-opaque">Learn More</a>
            </div>
            <div class="row cards">
              {% for card in section.cards %}
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <h3>{{ card.title }}</h3>
                    </div>
                    <div class="card-block">
                      {{ card.body | markdownify }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            {{ section.body | markdownify }}
          {% endif %}
        </div>
      </section>
    {% endfor %}
  {% endif %}
  {% include footer.html %}
</body>
</html>